<template>
  <div class="p-5">
    <DataTable :value="lstUsers" resizableColumns columnResizeMode="fit" showGridLines
      tableStyle="min-width: 50rem" :class="`p-datatable-sm`">
      <Column field="id" Header="ID"></Column>
      <Column field="firstname" Header="Nombres"></Column>
      <Column field="lastname" Header="Apellidos"></Column>
      <!-- <Column field="photo" Header="Foto"></Column> -->
      <Column field="" header="">
        <template #body="slotProps">
          <!-- @click="clickEditarCompania(slotProps.data)" -->
          <i  class="pi pi-pencil" style="font-size: 1rem"  ></i>
          <i class="pi pi-trash pl-2" style="font-size: 1rem"></i>
        </template>
      </Column>
    </DataTable>
  </div>
</template>
<script setup>

import { onMounted, ref } from "vue";
import DataTable from 'primevue/datatable';
import { useUserStore } from "../store/UsersStore"
import Column from 'primevue/column';
import Dialog from 'primevue/dialog';
import Button from 'primevue/button';

const usersStore = useUserStore();

let lstUsers = ref([]);

onMounted(async () => {
  await loadUsers();
})

const loadUsers = async () => {
  console.log('load users');
  lstUsers.value = await usersStore.getUsers();
  console.log('users', lstUsers.value)
}
</script>
<style scoped></style>