<template>
  <div class="p-5">
    
    <Button label="Nuevo Producto" size="small" @click="newProduct()" />
    <DataTable :value="lstProducts" resizable-columns columnResizeMode="fit" showGridLines tableStyle="min-width: 50rem" :class="`p-datable-sm`">
      <Column field="id" header="ID"></Column>
      <Column field="category" header="Categoria"></Column>
      <Column field="name" header="Nombre"></Column>
      <Column field="photo" header="Fotografia"></Column>
      <Column field="price" header="Precio"></Column>
    </DataTable>
  </div>
  <Dialog v-model:visible="showModal" modal :header="titleModal" :style="{ width: '50vw' }">
    <FormProductComponent :productId = productId :companyId = companyId :objProduct=objProduct @getProducts="getProducts">
    </FormProductComponent>
  </Dialog>
</template>
<script setup>
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Dialog from 'primevue/dialog';
import Button from 'primevue/button';
import FormProductComponent from "./FormProductComponent.vue";
import { useProductsStore } from "../store/ProductsStore";
import { onMounted, ref } from "vue";
const productsStore = useProductsStore();
import { useRoute } from 'vue-router'

const route = useRoute()

let lstProducts = ref([]);
let showModal = ref(false);
let titleModal = ref("");
let productId = ref(null);
let companyId = ref(0);
let objProduct = ref({});

onMounted(async () => {
  
  console.log('query',route.params.id);
  companyId = route.params.id;
  await getProducts();
})

const getProducts = async () => {
  const params = {
    pagination: {
      page: 0,
      limit: 10
    },
    filters: {
      companyId: companyId
    }
  }
  lstProducts.value = await productsStore.getProductsByCompany(params);
  console.log('product',lstProducts.value);
  showModal.value = false;
}

const newProduct = async () => {
  showModal.value = true;
  titleModal.value = "Nuevo Producto";
  objProduct.value = {};
}
</script>
<style scoped></style>