<template>
  <div class="p-5">

    <Button label="Nueva Compañia"  size="small" @click="clickNuevoCompania()" /><br><br>
    <DataTable :value="lstCompanias" resizableColumns columnResizeMode="fit" showGridlines tableStyle="min-width: 50rem" :class="`p-datatable-sm`">
      <Column field="id" header="ID "></Column>
      <Column field="name" header="Nombre "></Column>
      <Column field="address" header="Dirección "></Column>
      <Column field="telephone" header="Telefono"></Column>
      <Column field="email" header="Email"></Column>
      <Column field="facebook" header="Facebbok"></Column>
      <Column field="website" header="Sitio Web"></Column>
      <Column field="description" header="Descripción"></Column>
      <Column field="" header="Acciones">
        <template #body="slotProps">
          <i  class="pi pi-pencil" style="font-size: 1rem" @click="clickEditarCompania(slotProps.data)" ></i>
          <i class="pi pi-trash pl-2" style="font-size: 1rem"></i>
          <i class="pi pi-book pl-2" style="font-size: 1rem;" @click="redirect(slotProps.data.id)"></i>
        </template>
      </Column>
    </DataTable>
  </div>
  <Dialog v-model:visible="dialogActualizarCompania" modal :header="smsDialog" :style="{ width: '50vw' }">
    <FormCompaniasComponent :companiaId = companiaId :objCompania=objCompania @cargarCompania="cargarCompanias" ></FormCompaniasComponent>
  </Dialog>
</template>
<script setup>

import FormCompaniasComponent from "@/modules/companias/components/FormCompaniasComponent.vue";
import { useCompaniasStore } from '../store/CompaniasStore'
import {onMounted, ref} from "vue";

import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Dialog from 'primevue/dialog';
import Button from 'primevue/button';

const companiasStore = useCompaniasStore()

let lstCompanias = ref([]);
let dialogActualizarCompania = ref(false);
let companiaId = ref(0);
let objCompania = ref({});
let smsDialog = ref('');

onMounted(async () => {
 await  cargarCompanias();
})

const clickNuevoCompania = () =>{
  dialogActualizarCompania.value = true;
  smsDialog.value = 'Nuevo Compañia';
  objCompania.value = {}
}
const clickEditarCompania = (obj) =>{
  dialogActualizarCompania.value = true;
  companiaId.value = obj.id;
  objCompania.value = obj;
  smsDialog.value = 'Editar Compañia';
}
const cargarCompanias = async () =>{
  lstCompanias.value =  await companiasStore.obtenerCompaniasTodos();
  dialogActualizarCompania.value = false;
}
const redirect = (id) => {
  window.location.href = "/company/products/" + id;
}
</script>
<style scoped>

</style>
