<template>
  <div class="flex flex-column gap-2">
    <label>Categoria</label>
    <!-- optionalLabel="name"  -->
    <Dropdown v-model="productObj.category" :options="lstTypes" placeholder="Elija categoria" class="w-full md:w-22rem" />
    <label>Nombre</label>
    <InputText type="text" v-model="productObj.name" />
    <label>Precio</label>
    <InputText type="number" v-model="productObj.price" />
    <label>Foto</label>
    <InputText type="text" v-model="productObj.photo" />
    <label>Descripcion</label>
    <Textarea v-model="productObj.description" rows="4" cols="150" />
    <Button label="Guardar" size="small" @click="onSubmit()" />
  </div>
</template>
<script setup>
import InputText from 'primevue/inputtext';
import InputNumber from 'primevue/inputnumber';
import Textarea from 'primevue/textarea';
import Button from 'primevue/button';
import Dropdown from 'primevue/dropdown';
import { defineProps, onMounted, ref } from 'vue';
const props = defineProps(['productId', 'objProduct', 'companyId']);
const emit = defineEmits(['getProducts']);

import { useProductsStore } from "../store/ProductsStore";
const productsStore = useProductsStore();
let lstTypes = ref(['cookies', 'natural']);

let productObj = ref({
  type: '',
  name: '',
  category: '',
  photo: '',
  description: '',
  price: '',
  companyId: ''
});

const onSubmit = async () => {
  //console.log('saving', props.productId);
  if (props.productId) {
  } else {
    
    let objInsert = {
      type: 'test',
      name: productObj.value.name,
      category: productObj.value.category,
      photo: productObj.value.photo,
      description: productObj.value.description,
      price: productObj.value.price,
      companyId: props.companyId
    }
    console.log('new', objInsert);
    await productsStore.saveProduct(objInsert);
  }
  emit('getProducts');
}
</script>
<style scoped></style>