<template>
  <div class="flex flex-column gap-2">
    <label>Nombre Completo</label>
    <InputText type="text" v-model="companiaObj.name" />
    <label>Dirección</label>
    <InputText type="text" v-model="companiaObj.address" />
    <label>Teléfono</label>
    <InputText type="text" v-model="companiaObj.telephone" />
    <label>Correo</label>
    <InputText type="text" v-model="companiaObj.email" />
    <label>Facebook</label>
    <InputText type="text" v-model="companiaObj.facebook" />
    <label>Sitio Web</label>
    <InputText type="text" v-model="companiaObj.website" />
    <label>Descripción</label>
    <InputText type="text" v-model="companiaObj.description" />
    <Button label="Guardar" size="small" @click="clicActualizar()" /><br><br>
  </div>
</template>
<script setup>

import InputText from 'primevue/inputtext';
import Button from "primevue/button";
import { defineProps, onMounted, ref } from 'vue';
const props = defineProps(['companiaId', 'objCompania']);
const emit = defineEmits(['cargarCompania'])

import { useCompaniasStore } from '@/modules/companias/store/CompaniasStore';
import { useAuthStore } from '@/modules/auth/store/AuthStore';
const companiasStore = useCompaniasStore();
const authStore = useAuthStore();

let companiaObj = ref({
  name: '',
  address: '',
  telephone: '',
  email: '',
  facebook: '',
  website: '',
  description: ''
});
onMounted(async () => {
  companiaObj.value = props.objCompania;
})
const clicActualizar = async () => {

  if (props.companiaId) {
    // modificar
    let objInsert = {
      id: props.companiaId,
      name: companiaObj.value.name,
      address: companiaObj.value.address,
      telephone: companiaObj.value.telephone,
      email: companiaObj.value.email,
      facebook: companiaObj.value.facebook,
      website: companiaObj.value.website,
      description: companiaObj.value.description
    }
    await companiasStore.modificarCompania(objInsert);
  } else {

    // nuevo
    let objInsert = {
      name: companiaObj.value.name,
      address: companiaObj.value.address,
      telephone: companiaObj.value.telephone,
      email: companiaObj.value.email,
      facebook: companiaObj.value.facebook,
      website: companiaObj.value.website,
      description: companiaObj.value.description
    }
    await companiasStore.registrarCompania(objInsert);

  }
  emit('cargarCompania');

}
</script>
<style scoped></style>
