<template>
  <div class="p-5">
    <Button label="Nuevo Evento" size="small" @click="newEvent()" />
    <DataTable :value="lstEvents" resizable-columns columnResizeMode="fit" showGridLines tableStyle="min-width: 50rem" :class="`p-datable-sm`">
      <Column field="id" header="ID"></Column>
      <Column field="type" header="Tipo"></Column>
      <Column field="name" header="Evento"></Column>
      <Column field="place" header="Lugar"></Column>
      <Column field="eventDate" header="Fecha">
        <template #body="{ data }">{{ format_DDMMYYY(data.eventDate) }}</template>
      </Column>
      <Column field="" header=""></Column>
    </DataTable>
  </div>
  <Dialog v-model:visible="showModal" modal :header="titleModal" :style="{ width: '50vw'}">
    <FormEventComponent :eventId = eventId :objEvent=objEvent @getEvents="getEvents"></FormEventComponent>
  </Dialog>
</template>
<script setup>
import FormEventComponent from "./FormEventComponent.vue";
import { useEventStore } from "../store/EventsStore";
import { onMounted, ref } from "vue";
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Dialog from 'primevue/dialog';
import Button from 'primevue/button';
import { format_DDMMYYY } from '@/helpers/dates';

const eventStore = useEventStore();

let lstEvents = ref([]);
let showModal = ref(false);
let eventId = ref(0);
let objEvent = ref({});
let titleModal = ref("");

onMounted(async () => {
  await getEvents();
})

const newEvent = () => {
  console.log("new event");
  showModal.value = true;
  titleModal.value = "Nuevo Evento";
  objEvent.value = {};
}

const getEvents = async () => {
  lstEvents.value = await eventStore.getEvents();
  showModal.value = false;
}
</script>
<style></style>