<template>
  <div class="flex flex-column gap-2">
    <label>Tipo</label>
    <InputText type="text" v-model="eventObj.type" />
    <label>Nombre</label>
    <InputText type="text" v-model="eventObj.name" />
    <label>Lugar</label>
    <Textarea v-model="eventObj.place" rows="3" cols="150" />
    <label>Fecha</label>
    <Calendar v-model="eventObj.eventDate" />
    <label>Descripcion</label>
    <Textarea v-model="eventObj.description" rows="4" cols="150" />
    <Button label="Guardar" size="small" @click="onSubmit" />
  </div>
</template>
<script setup>
import InputText from 'primevue/inputtext';
import Textarea from 'primevue/textarea';
import Calendar from "primevue/calendar";
import { defineProps, onMounted, ref } from 'vue';
import Button from "primevue/button";
const props = defineProps(["eventId", "objEvent"]);
const emit = defineEmits("getEvents");

import { useEventStore } from "../store/EventsStore";
const eventStore = useEventStore();

let eventObj = ref({
  type: '',
  name: "",
  place: "",
  eventDate: "",
  description: ""
});
onMounted(async () => {
  eventObj.value = props.objEvent;
})

const onSubmit = async () => {
  if (props.eventId) { } else {
    const newData = {
      type: eventObj.value.type,
      name: eventObj.value.name,
      place: eventObj.value.place,
      eventDate: eventObj.value.eventDate,
      description: eventObj.value.description
    }
    await eventStore.saveEvent(newData);
  }
  emit("getEvents");
}
</script>
<style scoped></style>