<template>
  <DataTableUsersComponent></DataTableUsersComponent>
</template>
<script setup>
import DataTableUsersComponent from '../components/DataTableUsersComponent.vue';
</script>
<style scoped></style>