<template>
  <div class="p-5">
    <Button label="Nuevo Entrenador" @click="onNewTraine()" />
    <br />
    <DataTable :value="lstTrainers" size="small" resizableColumns columnResizeMode="fit" showGridLines tableStyle="min-width: 50rem" :class="`p-datatable-sm`">
      <Column field="id" header="ID"></Column>
      <Column field="user.firstname" header="Nombres"></Column>
      <Column field="user.lastname" header="Apellidos"></Column>
      <Column field="user.telephone" header="Telefono"></Column>
      <Column field="address" header="Direccion"></Column>
    </DataTable>
  </div>
  <Dialog v-model:visible="showModal" modal :header="titleDialog" :style="{ width: '50vw' }">
    <FormTrainerComponent></FormTrainerComponent>
  </Dialog>
</template>
<script setup>
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Dialog from 'primevue/dialog';
import Button from 'primevue/button';

import {onMounted, ref} from "vue";

import FormTrainerComponent from './FormTrainerComponent.vue';
import { useTrainersStore } from "../store/TrainersStore";

const trainersStore = useTrainersStore();
let lstTrainers = ref([]);
let showModal = ref(false);
let titleDialog = ref("");

onMounted(async () => {
  await loadTrainers();
});

const onNewTraine = () => {
  showModal.value = true;
  titleDialog.value = "Nuevo Entrenador";
}

const loadTrainers = async () => {
  lstTrainers.value = await trainersStore.getAllTrainers();
  console.log('trainer', lstTrainers.value)
}

</script>
<style scoped></style>