<template>
  <div class="flex flex-column gap-2">
    <label>Usuario</label>
    <Dropdown v-model="trainerObj.userId" :options="lstUsers" optionLabel="name" placeholder="Elija usuario"
      class="w-full md:w-22rem" />
    <label>Ciudad</label>
    <Dropdown v-model="trainerObj.cityId" :options="lstCities" optionLabel="name" placeholder="Elija ciudad"
      class="w-full md:w-22rem" />
    <label>Direccion</label>
    <Textarea v-model="trainerObj.address" rows="3" cols="150" />
    <label>Descripcion</label>
    <Textarea v-model="trainerObj.description" rows="4" cols="150" />
    <Button label="Guardar" size="small" @click="onSubmit()" />
  </div>
</template>
<script setup>
import InputText from 'primevue/inputtext';
import Textarea from 'primevue/textarea';
import Button from 'primevue/button';
import Dropdown from 'primevue/dropdown';
import { defineProps, onMounted, ref } from 'vue';

const props = defineProps(['trainerId', 'objTrainer']);
const emit = defineEmits(['loadTrainers']);
import { useTrainersStore } from "../store/TrainersStore";
import { useUsersStore } from "../../users/store/UsersStore";
import { useCitiesStore } from "../../admin/store/CitiesStore";
const trainerStore = useTrainersStore();
const userStore = useUsersStore();
const cityStore = useCitiesStore();

let trainerObj = ref({
  id: '',
  userId: '',
  cityId: '',
  address: '',
  description: ''
})
let lstUsers = ref([]);
let lstCities = ref([]);

onMounted(async () => {
  await getInitialData();
})

const getInitialData = async () => {
  lstUsers.value = await userStore.getAllUsers();
  console.log('users', lstUsers.value)

  lstCities.value = await cityStore.getCities();
  console.log('citi', lstCities.value);
}

const onSubmit = async () => {
  if (props.trainerId) { } else {
    const newTrainer = {
      userId: trainerObj.userId,
      cityId: trainerObj.cityId,
      address: trainerObj.address,
      description: trainerObj.description
    }
    console.log('new', newTrainer);
    await trainerStore.saveTrainer(newTrainer);
  }
  emit("loadTrainers");
}
</script>
<style scoped></style>