<template>
  <div class="p-5">
    Users
    <DataTableUsersComponent></DataTableUsersComponent>
  </div>
</template>
<script setup>
import DataTableUsersComponent from '../Components/DataTableUsersComponent.vue';
</script>
<style scoped></style>