<template>
  <div class="p-5">
    <Button label="Nueva mascota" @click="onNewPet()" />
    <DataTable :value="lstPets" size="small" resizableColumns columnResizeMode="fit" showGridlines tableStyle="min-width: 50rem" :class="`p-datatable-sm`">
      <Column field="id" header="ID"></Column>
      <Column header="Foto">
        <template #body="slotProps">
          <img :src="`${slotProps.data.photo}`" :width="50" :height="40" />
        </template>
      </Column>
      <Column field="name" header="Nombre"></Column>
      <Column field="weight" header="Peso"></Column>
      <Column field="" header="">
        <template #body="slotProps">
          <!-- @click="clickEditarCompania(slotProps.data)" -->
          <i  class="pi pi-pencil" style="font-size: 1rem"  ></i>
          <i class="pi pi-trash pl-2" style="font-size: 1rem"></i>
        </template>
      </Column>
    </DataTable>
  </div>
  <Dialog v-model:visible="showModal" modal :header="titleDialog" :style="{ width: '50vw'}">
    <FormPetComponent></FormPetComponent>
  </Dialog>
</template>
<script setup>
import {onMounted, ref} from "vue";
import { usePetsStore } from "../store/PetsStore";
import FormPetComponent from "@/modules/pets/components/FormPetComponent.vue";

import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Dialog from 'primevue/dialog';
import Button from 'primevue/button';

const petsStore = usePetsStore();
let lstPets = ref([]);
let petId = ref(0);
let objPet = ref({});
let showModal = ref(false);
let titleDialog = ref("");

onMounted(async () => {
  await loadPets();
})

const onNewPet = () => {
  showModal.value = true;
  titleDialog.value = "Nueva Mascota";
  objPet.value = {};
}

const onEditPet = (data) => {}

const loadPets = async () => {
  lstPets.value = await petsStore.getAllPets();
  console.log('pets', lstPets.value)
}
</script>
<style></style>