<template>
  <div class="flex flex-column gap-2">
    <label>Nombre</label>
    <InputText type="text" v-model="petObj.name" />
    <label>Foto</label>
    <InputText type="text" v-model="petObj.photo" />
    <label>Peso</label>
    <InputText type="number" v-model="petObj.weight" />
    <label>Alergias</label>
    <InputText type="text" v-model="petObj.allergies" />
    <label>Alimentacion</label>
    <InputText type="text" v-model="petObj.feeding" />
    <label>Medicacion</label>
    <InputText type="text" v-model="petObj.medication" />
    <label>Cuidados especiales</label>
    <InputText type="text" v-model="petObj.special_cares" />
    <div>
      <Button label="Guardar" size="small" @click="onSave()" />  
      <Button label="Cancelar" size="small" />
    </div>
  </div>
</template>
<script setup>
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import { defineProps, ref } from 'vue';

const props = defineProps(['petId', 'objPet']);
const emit = defineEmits(['loadPets']);
import { usePetsStore } from '../store/PetsStore';
const petStore = usePetsStore();

let petObj = ref({
  name: '',
  photo: '',
  weight: '',
  allergies: '',
  feeding: '',
  medication: '',
  special_cares: ''
});

const onSave = async () => {
  if (props.petId) { }
  else { 
    const newPet = {
      name: petObj.value.name,
      photo: petObj.value.photo,
      weight: petObj.value.weight,
      allergies: petObj.value.allergies,
      feeding: petObj.value.feeding,
      medication: petObj.value.medication,
      special_cares: petObj.value.special_cares
    }
    await petStore.savePet(newPet);
  }
  emit("loadPets");
}
</script>
<style></style>