<template>
<DataTableCompaniasComponent></DataTableCompaniasComponent>
</template>
<script setup>
import DataTableCompaniasComponent from "@/modules/companias/components/DataTableCompaniasComponent.vue";

</script>

<style scoped>

</style>
