<template>
  <DataTableProductsComponent></DataTableProductsComponent>
</template>
<script setup>
import DataTableProductsComponent from '../components/DataTableProductsComponent.vue';
</script>
<style scoped></style>