<template>
  <DataTableEventsComponent></DataTableEventsComponent>
</template>
<script setup>
import DataTableEventsComponent from '../components/DataTableEventsComponent.vue';
</script>
<style scoped></style>