<template>
  <div class="p-5">
    <Button label="Nuevo Servicio" />
    <DataTable :value="lstServices" size="small" resizableColumns columnResizeMode="fit" showGridlines tableStyle="min-width: 50rem" :class="`p-datatable-sm`">
      <Column field="id" header="ID"></Column>
      <Column field="type" header="Tipo"></Column>
      <Column field="user.firstname" header="Nombres"></Column>
      <Column field="user.lastname" header="Apellidos"></Column>
      <Column field="address" header="Direccion"></Column>
      <Column field="rate" header="Rate"></Column>
    </DataTable>
  </div>
</template>
<script setup>
import {onMounted, ref} from "vue";
import Button from 'primevue/button';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';

import { useServicesStore } from "../store/ServicesStore";
const serviceStore = useServicesStore();
let lstServices = ref([]);

onMounted(async () => {
  await loadServices();
})

const loadServices = async () => {
  const params = {
    pagination: {
      page: 0,
      limit: 10
    },
    filters: {}
  };
  lstServices.value = await serviceStore.getServicebyType(params);
  console.log('serv', lstServices.value);
}

</script>
<style scoped></style>