<template>
  <DataTableTrainersComponent></DataTableTrainersComponent>
</template>
<script setup>
import DataTableTrainersComponent from '../components/DataTableTrainersComponent.vue';
</script>
<style scoped></style>