<template>
  <DataTableLostPetsComponent></DataTableLostPetsComponent>
</template>
<script setup>
import DataTableLostPetsComponent from '../components/DataTableLostPetsComponent.vue';
</script>
<style></style>