<template>
  <div class="p-5">
    <Button label="Nuevo" @click="onNewLostPet()" />
    <DataTable :value="lstLostPets" size="small" resizeColumns columnResizeMode="fit" showGridlines tableStyle="min-width: 50rem" :class="`p-datatable-sm`">
      <Column field="id" header="ID" />
      <Column header="Foto">
        <template #body="slotProps">
          <img :src="`${slotProps.data.photo}`" :width="50" :height="40" />
        </template>
      </Column>
      <Column field="name" header="Nombre" />
      <Column field="type" header="Tipo" />
      <Column field="title" header="Titulo" />
      <Column field="reward" header="Recompensa" />
      <Column field="contact_number" header="Nro Contacto" />
      <Column field="owner" header="Dueno" />
    </DataTable>
  </div>
  <Dialog v-model:visible="showModal" modal :header="titleDialog" :style="{ width: '50vw'}">
    <FormLostPetComponent></FormLostPetComponent>
  </Dialog>
</template>
<script setup>
import { onMounted, ref } from 'vue';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Dialog from 'primevue/dialog';
import Button from 'primevue/button';
import FormLostPetComponent from './FormLostPetComponent.vue';

import { useLostPetsStore } from "../store/LostPetsStore";
const lostPetStore = useLostPetsStore();

let lstLostPets = ref([]);
let listLostPetId = ref(0);
let showModal = ref(false);
let titleDialog = ref("");

onMounted(async () => {
  await loadLostPets();
})

const onNewLostPet = () => {
  showModal.value = true;
  titleDialog.value = "Nuevo registro";
}

const loadLostPets = async () => {
  lstLostPets.value = await lostPetStore.getAllLostPets();
}
</script>
<style scoped></style>