<template>
  <div class="flex flex-column gap-2">
    <label>Tipo mascota</label>
    <!-- <InputText type="text" v-model="lostPetObj.type" /> -->
    <Dropdown v-model="lostPetObj.type" :options="lstTypes" placeholder="Elija tipo" class="w-full md:w-22rem" />
    <label>Nombre</label>
    <InputText type="text" v-model="lostPetObj.name" />
    <label>Foto</label>
    <InputText type="text" v-model="lostPetObj.photo" />
    <label>Titulo de anuncio</label>
    <InputText type="text" v-model="lostPetObj.title" />
    <label>Descripcion</label>
    <TextArea v-model="lostPetObj.description" rows="4" cols="150"></TextArea>
    <label>Recompensa (Bs)</label>
    <InputText type="text" v-model="lostPetObj.reward" />
    <label>Dueno</label>
    <InputText type="text" v-model="lostPetObj.owner" />
    <label>Telefono contacto</label>
    <InputText type="text" v-model="lostPetObj.contact_number" />
    <Button label="Guardar" size="small" @click="onSubmit()" />
  </div>
</template>
<script setup>
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import TextArea from "primevue/textarea";
import Dropdown from 'primevue/dropdown';
import { defineProps, ref } from 'vue';

import { useLostPetsStore } from '../store/LostPetsStore'; 
const lostPetStore = useLostPetsStore();
const props = defineProps(['lostPetId']);
let lstTypes = ref(["Gato", "Perro", "Otro"]);
/*let lstTypes = ref([
  {
    id: "cat",
    value: "Gato"
  },
  {
    id: "dog",
    value: "Perro"
  },
  {
    id: "other",
    value: "Otro"
  }
]);*/

let lostPetObj = ref({
  type: "",
  name: "",
  photo: "",
  reward: 0,
  owner: "",
  contact_number: "",
  title: "",
  description: ""
});

const onSubmit = async () => {
  console.log('saving');
  if (props.lostPetId) {} 
  else {
    console.log('new');
    const newLostPet = {
      type: lostPetObj.value.type,
      name: lostPetObj.value.name,
      photo: lostPetObj.value.photo,
      title: lostPetObj.value.title,
      description: lostPetObj.value.description,
      reward: lostPetObj.value.reward,
      contact_number: lostPetObj.value.contact_number,
      owner: lostPetObj.value.owner
    }
    await lostPetStore.savePetLost(newLostPet);
  }
}
</script>
<style scoped></style>