<template>
  <DataTable :value="lstUsers" size="small" resizableColumns columnResizeMode="fit" showGridLines tableStyle="min-width: 50rem" :class="`p-datatable-sm`">
    <Column field="id" header=""></Column>
    <Column header="Foto">
      <template #body="slotProps">
        <img :src="`${slotProps.data.photo}`" :width="50" :height="35" />
      </template>
    </Column>
    <Column field="firstname" header="Nombres"></Column>
    <Column field="lastname" header="Apellidos"></Column>
    <Column field="email" header="E-mail"></Column>
    
  </DataTable>
</template>
<script setup>
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Dialog from 'primevue/dialog';
import Button from 'primevue/button';

import {onMounted, ref} from "vue";
import { useUsersStore } from "../store/UsersStore";

const usersStore = useUsersStore();

let lstUsers = ref([]);

onMounted(async () => {
  await loadUsers();
})

const loadUsers = async () => {
  lstUsers.value = await usersStore.getAllUsers();
  console.log('users',lstUsers.value);
}
</script>
<style scoped></style>