<template>
  <DataTableServicesComponent></DataTableServicesComponent>
</template>
<script setup>
import DataTableServicesComponent from '../components/DataTableServicesComponent.vue';
</script>
<style scoped></style>