<script setup>
import Sidebar from 'primevue/sidebar';
import Button from 'primevue/button';
import Toolbar from 'primevue/toolbar';
import { ref } from 'vue';

const visible = ref(false);

const items = ref([
  {
    label: 'Update',
    icon: 'pi pi-refresh'
  },
  {
    label: 'Delete',
    icon: 'pi pi-times'
  },
  {
    label: 'Vue Website',
    icon: 'pi pi-external-link',
    command: () => {
      window.location.href = 'https://vuejs.org/';
    }
  },
  {
    label: 'Upload',
    icon: 'pi pi-upload',
    command: () => {
      this.$router.push('fileupload');
    }
  }
])
</script>

<template>
  <div class="card flex justify-content-center">
    <Sidebar v-model:visible="visible">
      <div id="avatar"></div>

      <template #header>
        <div class="flex">
          <button class="p-sidebar-icon p-link mr-2">
            <span class="pi pi-print" />
          </button>
          <button class="p-sidebar-icon p-link mr-2">
            <span class="pi pi-search" />
          </button>
        </div>
      </template>
      <nav>
        <li class="parent">
          <a href="/companias/companias">Companias</a>
        </li>
        <li><a href="/events">Eventos</a></li>
        <li><a href="/trainers">Entrenadores</a></li>
        <li><a href="/users">Usuarios</a></li>
        <li><a href="/pets">Mascotas</a></li>
        <li><a href="/lost-pets">Mascotas perdidas</a></li>
        <li><a href="/services">Servicios</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li class="parent"><a href="#">Mas de Cristalab</a>
          <ul>
            <li><a href="#">Publica un tutorial</a></li>
            <li><a href="#">¿Qué es Cristalab?</a></li>
          </ul>
        </li>
      </nav>
    </Sidebar>
    <div class="card" style="width: 100%">

      <Toolbar
          :pt="{
            root: { style: { background: 'linear-gradient(to right, #8e2de2, #4a00e0)', borderRadius: '10px', } }
        }">
        <template #start>
          <i class="pi pi-bars p-toolbar-separator mr-2"  @click="visible = true" />
        </template>

        <template #end>
          <Button icon="pi pi-search" class="mr-2" />
          <Button icon="pi pi-times" severity="danger" />
        </template>
      </Toolbar>

      <router-view />
    </div>


  </div>
</template>

<style scoped>
nav{
  width:300px;
  margin: 5% auto;
}
nav li{
  list-style: none;
  position:relative; /* importante, para que el submenu tome la posición correcta*/
}
nav li a{
  text-decoration:none;
  padding: 5px;
  display:block;
}
nav li.parent:hover{
  margin:-1px;
}
nav li li a{
  width:250px;
  display:block;
}
/* aquí esta lo importante!! */
nav li ul {
  width: 250px;
  margin:0;
  display:none;
  position: absolute;
  left: 100%;
  top:-1px;
}
nav li:hover ul {
  display: block;
}

#avatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('https://i.stack.imgur.com/Dj7eP.jpg');

  /* make a square container */
  width: 150px;
  height: 150px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}
</style>
