<template>
  <div class="container">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Sign up</label>

      </form>
    </div>

    <div class="login">

        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" v-model="loginObj.email">
        <input type="password" name="pswd" placeholder="Password" v-model="loginObj.password">
        <button @click="onLogin">Login</button>

    </div>
  </div>
  </div>
</template>
<script setup>
import InputText from 'primevue/inputtext';
import Password from 'primevue/password';
import Button from "primevue/button";
import {defineProps, onMounted, ref} from 'vue';
import { useAuthStore } from '../store/AuthStore';
//const props = defineProps(['objLogin']);
import { registrarToken } from '@/helpers/token'
const authStore = useAuthStore();

let loginObj = ref({
  email: 'pablo2@mail.com',
  password: '123456'
});
onMounted(async () => {
  //loginObj.value = props.objLogin;
});

const onLogin = async () => {

  const data = {
    email: loginObj.value.email,
    password: loginObj.value.password
  }
  const res = await authStore.onLogin(data);
  if(res.token){
    registrarToken(res.token);
    window.location.href = "/companias/companias";
  }else{
    alert("Usuario INcorrecto")
  }


  //console.log('loging', res);
  //authStore.setToken(res.token);
  //window.location.href = "/companias/companias";
}

</script>

<style scoped>

.container{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: #046A96;
}
.main{
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk{
  display: none;
}
.signup{
  position: relative;
  width:100%;
  height: 100%;
}
label{
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}
input{
  width: 60%;
  height: 40px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button{
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #046A96;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
button:hover{
  background: #046A96;
}
.login{
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}
.login label{
  color: #046A96;
  transform: scale(.6);
}

#chk:checked ~ .login{
  transform: translateY(-500px);
}
#chk:checked ~ .login label{
  transform: scale(1);
}
#chk:checked ~ .signup label{
  transform: scale(.6);
}


</style>
