<template>
  <div class="gap-2">
    <label>Nombres</label>
    <InputText type="text" v-model="registerObj.firstname" />
    <label>Apellidos</label>
    <InputText type="text" v-model="registerObj.lastname" />
    <label>Email</label>
    <InputText type="text" v-model="registerObj.email" />
    <label>Password</label>
    <Password :feedback="false" v-model="registerObj.password" />
    <Button label="Registrar" size="small" @click="onRegister" />
  </div>
</template>
<script setup>
import InputText from 'primevue/inputtext';
import Password from 'primevue/password';
import Button from "primevue/button";
//import Dropdown from 'primevue/dropdown';
import { ref } from 'vue';
import { useAuthStore } from '../store/AuthStore';
//const props = defineProps(['objLogin']);
const authStore = useAuthStore();
let registerObj = ref({
  firstname: '',
  lastname: '',
  email: '',
  password: ''
});

const onRegister = async () => {
  console.log('register');
  const data = {
    firstname: registerObj.value.firstname,
    lastname: registerObj.value.lastname,
    name: registerObj.value.firstname + ' ' + registerObj.value.lastname,
    email: registerObj.value.email,
    password: registerObj.value.password,
    gender: 'male'
  }
  const res = await authStore.onRegister(data);
  console.log('res', res);
  //window.location.href = "/companias/companias";
}

</script>
<style scoped></style>